header {
    background-color: white;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.3);
    padding: 5px;
}

body {
    background-color: whitesmoke;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

footer {
    display: flex;
    padding: 15px;
    background-color: black;
}

article {
    max-width: 400px;
}

.titulo1 {
    display: flex;
    justify-content: center;
}

.artigo-caixa {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px 40px;
}

.imagem-artigos {
    width: 400px;
    height: 250px;
    margin-top: 20px;
    border-radius: 10px;
}

.texto {
    text-align: justify;
}

.tricks {
    background-color: lightgray;
    padding: 5px;
    margin-right: 5px;
    font-size: 14px;
}

.sidebar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column !important;
    flex: 0 0 30%;
}

.imagem-artigos-2 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    margin-right: 20px;
}

.artigos-sidebar {
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.rodape-texto {
    color: white;
    margin-left: 200px;
}

.contatos {
    display: flex;
    margin-right: 400px;
    gap: 20px;
}

.rodape {
    display: flex;
    justify-content: space-between;
}